/car-booking-service/.vs
/car-booking-service/bin
/car-booking-service/obj
/car-booking-service.Application/bin
/car-booking-service.Application/obj
/car-booking-service.Domain/bin
/car-booking-service.Domain/obj
/car-booking-service.Infrastructure/bin
/car-booking-service.Infrastructure/obj
/car-booking-service.Test/bin
/car-booking-service.Test/obj
/car-booking-service.Infrastructure/bin/
/car-booking-service.Infrastructure/obj/
/car-booking-service/Logs
/.vs/